@use "src/assets/styles/constants";
@use "sass:math";

@function box-shadow($color) {
  @return 0 0 constants.$box_shadow_thickness math.div(constants.$box_shadow_thickness, 2) $color;
}

@function outer-diameter() {
  @return constants.$circled_photo_radius*2*constants.$circled_photo_expansion;
}

.frame {
  height: outer-diameter();
  width: outer-diameter();
  position: relative;

  &.clickable {
    cursor: pointer;

    .container:hover {
      width: outer-diameter();
      height: outer-diameter();
      border-radius: outer-diameter()/2;
      box-shadow: box-shadow(constants.$box_shadow_color_hover);
      transition: all 0.6s ease-in-out;
    }

    .shadow:hover {
      box-shadow: box-shadow(constants.$box_shadow_color_hover_inset);
    }
  }
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: box-shadow(constants.$box_shadow_color);
  height: constants.$circled_photo_radius*2;
  width: constants.$circled_photo_radius*2;
  border-radius: constants.$circled_photo_radius;
  overflow: hidden;
}

.photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: box-shadow(constants.$box_shadow_color_inset);
  border-radius: constants.$circled_photo_radius;
  top: 0;
  left: 0;
}

