/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: lightgray;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.medium {
  transform: scale(0.66665);
  border: 1px solid darkslateblue;
}

.small {
  flex-shrink: 0;
  transform: scale(0.33335);
  border: 1px solid darkslateblue;
}
