$circled_photo_radius: 100px;
$circled_photo_expansion: 1.04;
$box_shadow_thickness: 5px;
$box_shadow_color: lightgray;
$box_shadow_color_inset: ghostwhite;
$box_shadow_color_hover: darkslateblue;
$box_shadow_color_hover_inset: mediumslateblue;
